Auto Posting.json
{
  "name": "Auto Posting",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "eed81745-2a60-4a5b-917f-43bebc0deebf",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1i-qoWK6BYJsiS0fHyOruH33F9qhtVPOlle5_b_WbxiI",
          "mode": "list",
          "cachedResultName": "Auto Posting Scheduler",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1i-qoWK6BYJsiS0fHyOruH33F9qhtVPOlle5_b_WbxiI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1i-qoWK6BYJsiS0fHyOruH33F9qhtVPOlle5_b_WbxiI/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "ffeb1090-fa0f-4403-8b55-b590c678daac",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AIvnPeo647KM59ro",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst now = DateTime.now().setZone('Asia/Jakarta');\nconst postsToSend = [];\n\nfor (const item of items) {\n  const row = item.json;\n\n  const dateStr = row['Scheduled Date']; // Format: 11/02/2026\n  const timeStr = row['Scheduled Time']; // Format: 9:30:00\n  const status = row['Status'];\n\n  // Tangani status kosong ATAU 'Pending'\n  const isPending = !status || status.trim() === '' || status.trim() === 'Pending';\n\n  if (isPending && dateStr && timeStr) {\n\n    // FIX: Balik DD/MM/YYYY → YYYY-MM-DD agar valid ISO\n    const [day, month, year] = dateStr.split('/');\n    const formattedDate = `${year}-${month.padStart(2,'0')}-${day.padStart(2,'0')}`;\n\n    // FIX: Pastikan jam pakai 2 digit (9:30:00 → 09:30:00)\n    const timeParts = timeStr.split(':');\n    const formattedTime = timeParts.map(p => p.padStart(2, '0')).join(':');\n\n    const dateTimeString = `${formattedDate}T${formattedTime}`;\n    const scheduledTime = DateTime.fromISO(dateTimeString, { zone: 'Asia/Jakarta' });\n\n    if (scheduledTime.isValid && scheduledTime <= now) {\n      postsToSend.push(item);\n    }\n  }\n}\n\nreturn postsToSend;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "bd8cb77a-685b-4816-a632-7f9f6add514b",
      "name": "Code in JavaScript",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "chatId": "995221627",
        "text": "={{ $json.Content }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        624,
        0
      ],
      "id": "fd751a97-3545-4ee5-b1ff-8a91fb86b365",
      "name": "Send a text message",
      "webhookId": "93793aa0-05eb-4ce6-9693-697bb69f24ec",
      "credentials": {
        "telegramApi": {
          "id": "gHpT94s3t2IZiNP9",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7a4e6b47-54b6-47c1-93fd-5155a7efda4e",
              "name": "row_number",
              "value": "={{ $('Code in JavaScript').item.json.row_number }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        832,
        0
      ],
      "id": "c232e0d4-fa0a-49bd-a81e-bcc19a423409",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1i-qoWK6BYJsiS0fHyOruH33F9qhtVPOlle5_b_WbxiI",
          "mode": "list",
          "cachedResultName": "Auto Posting Scheduler",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1i-qoWK6BYJsiS0fHyOruH33F9qhtVPOlle5_b_WbxiI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1i-qoWK6BYJsiS0fHyOruH33F9qhtVPOlle5_b_WbxiI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $('Code in JavaScript').item.json.ID }}",
            "Status": "Published"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Scheduled Date",
              "displayName": "Scheduled Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Scheduled Time",
              "displayName": "Scheduled Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1040,
        0
      ],
      "id": "846fa05b-2338-4de8-ad88-1610e5b30f01",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AIvnPeo647KM59ro",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "b44efc45-3cd1-409c-adb9-c191339e390e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b766258bef240b4657e5d370a0210a1fd10e3fe15565b3312d7b17c83a8cf202"
  },
  "id": "uFqNbGMRE9ULgCZB",
  "tags": []
}