Pembuatan Konten-v2 (2).json
{
  "name": "Pembuatan Konten-v2",
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/start",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "36ddcfbe-baec-47b1-88fa-943e957b9f23"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "39bc228e-b71e-4cf6-bc3e-99b65a75dfe6",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "Title",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "5d613315-b5fc-4767-a2c2-862e5e5a92a6",
                    "leftValue": "={{ $json.message.photo[0] }}",
                    "rightValue": "video",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -912,
        816
      ],
      "id": "8505055a-889b-4406-9132-5e41e15a8a3b",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.photo[0].file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -480,
        1168
      ],
      "id": "cbbfbef4-86e3-4fd6-8cae-e512ce7dc920",
      "name": "Get a file",
      "webhookId": "90cbdcaf-a844-48de-b0fb-c42d45fb98f2",
      "credentials": {
        "telegramApi": {
          "id": "gHpT94s3t2IZiNP9",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendVideo",
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        736,
        1152
      ],
      "id": "f23cd871-14c3-4038-b73c-2efa03a39cc0",
      "name": "Send a video",
      "webhookId": "fc700ce9-5146-4adc-ae08-147771b1402f",
      "credentials": {
        "telegramApi": {
          "id": "gHpT94s3t2IZiNP9",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        528,
        560
      ],
      "id": "25fe4f6a-f11c-4b64-a93c-27b195a4aeb5",
      "name": "Merge"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1120,
        832
      ],
      "id": "d8ebcee8-2307-44a8-80ad-e36277e7c406",
      "name": "Telegram Trigger",
      "webhookId": "d95c473d-4b01-4539-8bbc-a198bc5924dc",
      "credentials": {
        "telegramApi": {
          "id": "gHpT94s3t2IZiNP9",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.from.id }}",
        "text": "Sedang memproses request Anda, harap tunggu sebentar",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -832,
        1072
      ],
      "id": "7b9de66f-8c2e-47e5-89ec-18cc2d7983d3",
      "name": "Respon Cepat",
      "webhookId": "a3320f45-1caf-4800-8505-bfea14652be2",
      "credentials": {
        "telegramApi": {
          "id": "gHpT94s3t2IZiNP9",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0f114b11-f00a-441d-8df1-dcdc3a2e387c",
              "name": "time_slot",
              "value": "={{ $json.output[0].time_slot }}",
              "type": "string"
            },
            {
              "id": "2757ca12-bfa9-444c-b9f5-f87c5faa8314",
              "name": "title",
              "value": "={{ $json.output[0].title }}",
              "type": "string"
            },
            {
              "id": "36c779dd-5eed-4726-96ec-f5360a85b9b5",
              "name": "platform",
              "value": "={{ $json.output[0].platforms }}",
              "type": "string"
            },
            {
              "id": "e2c79b4b-b4e7-4d6b-b738-5d4177c6fbe3",
              "name": "focus",
              "value": "={{ $json.output[0].focus }}",
              "type": "string"
            },
            {
              "id": "81e9dae5-7225-4704-bac5-b2ff5140e7cb",
              "name": "ide",
              "value": "={{ $json.output[0].ideas }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        304
      ],
      "id": "a0ef4d8d-21ea-45cf-b5be-b4b7364aaefb",
      "name": "Output 1"
    },
    {
      "parameters": {
        "jsonSchemaExample": "[\n  {\n    \"time_slot\": \"\",\n    \"title\": \"\",\n    \"platforms\": [],\n    \"focus\": \"\",\n    \"ideas\": []\n  }\n]"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -16,
        816
      ],
      "id": "dbcbd522-ca90-46a5-a59f-2d717fd0a48c",
      "name": "Output LLM"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -160,
        816
      ],
      "id": "96cf4857-d8e8-4c08-bd52-0607d9a06e7c",
      "name": "2.5 flash",
      "credentials": {
        "googlePalmApi": {
          "id": "i1J4wWVm9P1ByEK1",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "=Title: {{ $json.title }}\n\nPlatform: {{ $json.platform }}\n\nIde: {{ $json.ide }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        784,
        592
      ],
      "id": "2eb217c9-6a5c-4db8-86e1-afcdb8312451",
      "name": "Kirim Ide ke Tim",
      "webhookId": "a4902254-4e55-42d2-8362-7dd01f657f21",
      "credentials": {
        "telegramApi": {
          "id": "gHpT94s3t2IZiNP9",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ab46dd8b-4a11-4102-87c1-4292e7150d1a",
              "name": "tanggal",
              "value": "={{ $json.message.date }}",
              "type": "string"
            },
            {
              "id": "21629e47-18b4-4139-a601-7dbb9e122607",
              "name": "tema",
              "value": "Teknologi & Produktivitas",
              "type": "string"
            },
            {
              "id": "5daebe04-5fe8-4eb7-a380-da9ef24deb8c",
              "name": "waktu",
              "value": "={{ $now }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -336,
        656
      ],
      "id": "4442b218-6672-46db-82da-d7c6f084dc84",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Buat rencana konten harian untuk {{ $json.tanggal }} dengan tema {{ $json.tema }}\n\nSaya mau Anda buatnya dalam bentuk nomor atau point.",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -160,
        656
      ],
      "id": "68b5d9bd-66e8-4592-a98f-ff4b134e7176",
      "name": "Membuat Ide Konten"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "Harap ketik /start untuk memulai.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -368,
        480
      ],
      "id": "20012f9c-9de5-4778-9284-ec1da09d3495",
      "name": "Format Salah (False)",
      "webhookId": "7f785d2b-3235-478b-859b-a5d956557f99",
      "credentials": {
        "telegramApi": {
          "id": "gHpT94s3t2IZiNP9",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e04c010f-f40b-4a0b-aebb-8cc1a1a08b26",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "/start",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -608,
        672
      ],
      "id": "b139a7f5-6eaf-46ab-bdc1-0680420bd5f4",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0f114b11-f00a-441d-8df1-dcdc3a2e387c",
              "name": "time_slot",
              "value": "={{ $json.output[1].time_slot }}",
              "type": "string"
            },
            {
              "id": "2757ca12-bfa9-444c-b9f5-f87c5faa8314",
              "name": "title",
              "value": "={{ $json.output[1].title }}",
              "type": "string"
            },
            {
              "id": "36c779dd-5eed-4726-96ec-f5360a85b9b5",
              "name": "platform",
              "value": "={{ $json.output[1].platforms }}",
              "type": "string"
            },
            {
              "id": "e2c79b4b-b4e7-4d6b-b738-5d4177c6fbe3",
              "name": "focus",
              "value": "={{ $json.output[1].focus }}",
              "type": "string"
            },
            {
              "id": "81e9dae5-7225-4704-bac5-b2ff5140e7cb",
              "name": "ide",
              "value": "={{ $json.output[1].ideas }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        464
      ],
      "id": "dd645aab-f0aa-4109-ba20-6ca12ed06faf",
      "name": "Output 2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0f114b11-f00a-441d-8df1-dcdc3a2e387c",
              "name": "time_slot",
              "value": "={{ $json.output[2].time_slot }}",
              "type": "string"
            },
            {
              "id": "2757ca12-bfa9-444c-b9f5-f87c5faa8314",
              "name": "title",
              "value": "={{ $json.output[2].title }}",
              "type": "string"
            },
            {
              "id": "36c779dd-5eed-4726-96ec-f5360a85b9b5",
              "name": "platform",
              "value": "={{ $json.output[2].platforms }}",
              "type": "string"
            },
            {
              "id": "e2c79b4b-b4e7-4d6b-b738-5d4177c6fbe3",
              "name": "focus",
              "value": "={{ $json.output[2].focus }}",
              "type": "string"
            },
            {
              "id": "81e9dae5-7225-4704-bac5-b2ff5140e7cb",
              "name": "ide",
              "value": "={{ $json.output[2].ideas }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        624
      ],
      "id": "26720297-faa9-4306-a772-43d8f6544537",
      "name": "Output 3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0f114b11-f00a-441d-8df1-dcdc3a2e387c",
              "name": "time_slot",
              "value": "={{ $json.output[3].time_slot }}",
              "type": "string"
            },
            {
              "id": "2757ca12-bfa9-444c-b9f5-f87c5faa8314",
              "name": "title",
              "value": "={{ $json.output[3].title }}",
              "type": "string"
            },
            {
              "id": "36c779dd-5eed-4726-96ec-f5360a85b9b5",
              "name": "platform",
              "value": "={{ $json.output[3].platforms }}",
              "type": "string"
            },
            {
              "id": "e2c79b4b-b4e7-4d6b-b738-5d4177c6fbe3",
              "name": "focus",
              "value": "={{ $json.output[3].focus }}",
              "type": "string"
            },
            {
              "id": "81e9dae5-7225-4704-bac5-b2ff5140e7cb",
              "name": "ide",
              "value": "={{ $json.output[3].ideas }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        784
      ],
      "id": "33402ad6-344a-4e1d-90b2-961ab630b74c",
      "name": "Output 4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "30ff8919-b609-45e2-9f61-18c9b8585aff",
              "leftValue": "=success",
              "rightValue": "={{ $json.data.state }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        224,
        944
      ],
      "id": "64a2cbba-6e4d-46ad-8660-0ccd1e77ac3d",
      "name": "If1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n{\n  \"model\": \"grok-imagine/text-to-image\",\n  \"input\": {\n    \"prompt\": ($json.message && $json.message.text) ? $json.message.text.replace(/\"/g, '\\\\\"') : \"default prompt\",\n    \"aspect_ratio\": \"3:2\"\n  }\n}\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -288,
        944
      ],
      "id": "9c28f2d0-ac26-4234-b18d-d96c54dd01e3",
      "name": "image generation req"
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/jobs/recordInfo",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $json.data.taskId }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer Bearer {{ $node[\"Edit Fields1\"].json[\"api_key\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        64,
        944
      ],
      "id": "859075b7-9bb9-4dfa-b595-e5feb8d976ce",
      "name": "Mendapat status generate"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -96,
        944
      ],
      "id": "5a466332-2b95-47d9-b77b-d750dc7c3fe9",
      "name": "Menunggu proses generate image",
      "webhookId": "aa064f9c-ca6d-4f81-9a73-5f3db73d5373"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst urls = [\n  $json.img1,\n  $json.img2,\n  $json.img3,\n  $json.img4\n].filter(Boolean);\n\n// jadikan 1 URL = 1 item\nreturn urls.map((url, index) => ({\n  json: {\n    url,\n    index: index + 1\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        928
      ],
      "id": "43a86235-3b53-4a12-b9fc-7c853c0fdb47",
      "name": "Loop image"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst result = JSON.parse($json.data.resultJson);\n\nreturn [{\n  img1: result.resultUrls[0] || null,\n  img2: result.resultUrls[1] || null,\n  img3: result.resultUrls[2] || null,\n  img4: result.resultUrls[3] || null\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        928
      ],
      "id": "a3a2726e-3f67-4fe7-9f6b-2480dc7916b7",
      "name": "Format result"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        704,
        928
      ],
      "id": "99292ebd-797a-4dba-a55b-fda6008e1e63",
      "name": "Download gambar"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "995221627",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        880,
        928
      ],
      "id": "f4013160-1f0c-4f26-b0a1-2d9d42b67874",
      "name": "Kirim hasil generate",
      "webhookId": "7c91ad08-5cd3-4ffb-9cdb-870f59399f0c",
      "credentials": {
        "telegramApi": {
          "id": "gHpT94s3t2IZiNP9",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1ba82116-709f-42db-bd1d-7d75f1f8fc7d",
              "name": "message.text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            },
            {
              "id": "85fe8a15-e7bd-4faa-8f25-a6907d79bc21",
              "name": "api_key",
              "value": "d658af79f1ed68aba2aeae738bbea2fd",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -480,
        944
      ],
      "id": "dd06d23e-88da-4861-91d3-c49770e40825",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f0efd967-e964-4a60-bfd4-37449380eb57",
              "name": "file_path",
              "value": "={{ $('Get a file').item.json.result.file_path }}",
              "type": "string"
            },
            {
              "id": "878f7ea1-d421-414f-b246-418613108f34",
              "name": "api_key",
              "value": "9bb4119cba266871e1b2ab1c02a69a13",
              "type": "string"
            },
            {
              "id": "af1dcbcb-fb9d-4801-9359-ea60dd46d2e6",
              "name": "caption",
              "value": "={{ $('Telegram Trigger').item.json.message.caption }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -320,
        1168
      ],
      "id": "5c56d7c7-25af-4988-97b9-9379dc400102",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/jobs/recordInfo",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $json.data.taskId }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $node[\"Edit Fields2\"].json[\"api_key\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        128,
        1168
      ],
      "id": "4561edd8-7d57-4949-a321-3b3e19105da1",
      "name": "Mendapat status generate1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "30ff8919-b609-45e2-9f61-18c9b8585aff",
              "leftValue": "=success",
              "rightValue": "={{ $json.data.state }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        272,
        1168
      ],
      "id": "b56a1dbe-140a-4355-8702-3fa47bea70fa",
      "name": "If2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n{\n  \"model\": \"grok-imagine/image-to-video\",\n  \"input\": {\n    \"image_urls\": [\n      \"https://api.telegram.org/file/bot\" + \"8776867260:AAHmmiHkzheVTe-fDZFE-TZr9EspSttGmgk\" + \"/\" + $json.file_path\n    ],\n   \"prompt\": ($node[\"Telegram Trigger\"].json.message.caption || \"Cinematic animation\") + \", slow motion, highly detailed, professional lighting, 4k resolution, smooth transitions, no distortion\",\n    \"mode\": \"normal\",\n    \"duration\": \"6\",\n    \"resolution\": \"720p\"\n  }\n}\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -176,
        1168
      ],
      "id": "1aef17c8-063a-4680-850c-101c41eabdc1",
      "name": "Video generation req"
    },
    {
      "parameters": {
        "url": "={{ $json.videoUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        592,
        1152
      ],
      "id": "59935e84-8a57-4a54-b7d0-6e6171b8c193",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const result = JSON.parse($json.data.resultJson);\n\nreturn [{\n  videoUrl: result.resultUrls?.[0] ?? null\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        1152
      ],
      "id": "6c253a53-1477-47b4-a5b1-47ba6f61f164",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -16,
        1168
      ],
      "id": "82dd76aa-0b1f-4f32-a9aa-f895adae0404",
      "name": "proses generate",
      "webhookId": "aa064f9c-ca6d-4f81-9a73-5f3db73d5373"
    }
  ],
  "pinData": {},
  "connections": {
    "Switch": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Kirim Ide ke Tim",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respon Cepat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output 1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output LLM": {
      "ai_outputParser": [
        [
          {
            "node": "Membuat Ide Konten",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "2.5 flash": {
      "ai_languageModel": [
        [
          {
            "node": "Membuat Ide Konten",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Membuat Ide Konten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Membuat Ide Konten": {
      "main": [
        [
          {
            "node": "Output 1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Output 2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Output 3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Output 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Salah (False)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output 2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Output 3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Output 4": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Format result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Menunggu proses generate image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "image generation req": {
      "main": [
        [
          {
            "node": "Menunggu proses generate image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mendapat status generate": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Menunggu proses generate image": {
      "main": [
        [
          {
            "node": "Mendapat status generate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format result": {
      "main": [
        [
          {
            "node": "Loop image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop image": {
      "main": [
        [
          {
            "node": "Download gambar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download gambar": {
      "main": [
        [
          {
            "node": "Kirim hasil generate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "image generation req",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Video generation req",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mendapat status generate1": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "proses generate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video generation req": {
      "main": [
        [
          {
            "node": "proses generate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "proses generate": {
      "main": [
        [
          {
            "node": "Mendapat status generate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send a video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "74c64c62-5381-4ed7-874f-54fd4844fc1a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b766258bef240b4657e5d370a0210a1fd10e3fe15565b3312d7b17c83a8cf202"
  },
  "id": "JoW7SxQt9tjWo0RF",
  "tags": []
}